@import './vars.scss';

* {
  box-sizing: border-box;
  transition: $tr3;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: $font;
  background: $main;
  &::-webkit-scrollbar {
    width: 7px;
    &-thumb {
      background: $light-grey;
    }
    &-track {
      background: $white;
      border-left: 1px solid $border-color;
    }
  }
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: $second;
}
button, input {
  font-family: $font;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
.app {
  width: 100%;
  min-height: 100vh;
  padding: 70px 40px 50px calc($sidebar-width + 40px);
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background: $glass;
  backdrop-filter: blur(15px);
  animation: show .3s linear;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 75px;
  height: 75px;
  z-index: 200;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $orange;
  -webkit-animation: spin 2s linear .3s infinite;
  animation: spin 2s linear .3s infinite;
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $orange-before;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $orange-after;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}