@import './vars.scss';
@import './mixins.scss';

.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  &__item {
    position: relative;
    width: 100%;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    & a {
      width: 203px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 50px;
      background: transparent;
      padding-left: 17px;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      color: $second;
      &:hover {
        // color: $orange;
        background: $main;
        & svg {
          & path {
            fill: $orange;
          }
        }
      }
      & svg {
        margin-right: 10px;
        & path {
          fill: $second;
        }
      }
      &.active {
        width: 100%;
        color: $white;
        background: $orange;
        border-radius: 50px 0 0 50px;
        & svg {
          & path {
            fill: $white;
          }
        }
        &:hover {
          color: $white;
          background: $orange;
          & svg {
            & path {
              fill: $white;
            }
          }
        }
      }
    }
    & ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 15px;
      & li {
        width: 100%;
        position: relative;
        padding-left: 48px;
        &:last-child {
          margin-bottom: 0;
        }
        & a {
          color: $second;
          padding-left: 0;
          border-radius: 0;
          background: transparent;
          &::before, &::after {
            content: '';
            position: absolute;
            border-radius: 50%;
            background: $light-grey;
          }
          &::before {
            width: 6px;
            height: 6px;
            left: 25px;
            top: 50%;
            transform: translateY(-50%);
          }
          &::after {
            width: 2px;
            height: 10px;
            left: 27px;
            top: -5px;
          }
          &:hover {
            background: transparent;
            color: $orange;
          }
          &.active {
            color: $orange;
            border-radius: 0;
            background: transparent !important;
            &:hover {
              color: $orange;
            }
            &::before {
              background: $orange;
            }
          }
        }
      }
    }
  }
  &.vk { @include mStyle($vk, $vk);  }
  &.telegram { @include mStyle($telegram, $telegram); }
  &.facebook { @include mStyle($facebook, $facebook); }
  &.twitter { @include mStyle($twitter, $twitter); }
  &.inst { @include mStyle($inst, $orange); }
  &.youtube { @include mStyle($youtube, $youtube); }
  &.tiktok { @include mStyle($tiktok, $second); }
}